.base {
    margin-top: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        margin-bottom: 20px;
        margin-top: 30vh;
    }
}

.title {
    font-family: "Amiko", sans-serif;
    font-weight: 400;
    color: var(--secondary-text);
    font-size: 20px;
    margin-bottom: 35px;

    @media (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

.text {
    color: var(--tertiary-text);
    font-size: 17px;
    text-align: center;
    margin-bottom: 35px;
    max-width: 540px;

    @media (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

.build {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    >p {
        color: var(--tertiary-text);
        font-size: 17px;
    }

    @media (max-width: 768px) {
        >p {
            font-size: 15px;
        }
    }
}

.build_tag {
    background-color: var(--secondary-background);
    border-radius: 50px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >pre {
        color: var(--tertiary-text);
    }

    @media (max-width: 768px) {
        >pre {
            font-size: 15px;
        }
    }
}

.circle {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    position: relative;

    >.inner_circle {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: var(--bright-green);
        border-radius: 50%;
    }

    >.outer_circle_first,
    >.outer_circle_second {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background-image: radial-gradient(circle, rgba(8, 179, 56, 0.23) 0px, rgb(8, 179, 56) 100%);
        opacity: 12%;
        border-radius: 50%;
        transform: scale(1.9);
    }
}