.base {
    display: flex;
    flex-direction: column;
    padding: var(--side-spacing);
    min-height: 100vh;
    padding-bottom: 20px;
    overflow: hidden;

    @media (max-width: 768px) {
        padding: var(--side-spacing-mobile);
    }
}