:root {
  --primary-background: #161616;
  --secondary-background: #232323;

  --primary-text: #EEEEEE;
  --secondary-text: #9B9B9B;
  --tertiary-text: #515151;

  --purple-accent: #BC2DFF;
  --orange-accent: #FF9446;
  --blue-accent: #57AEFF;
  --green-accent: #96F45C;
  --pink-accent: #FF42D5;

  --bright-green: #18FF59;

  --side-spacing: 50px;
  --side-spacing-mobile: 40px 20px 20px 20px;

  --radius-norm: 10px;

  --nav-background: #1B1B1B;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text);
  background-color: var(--primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
}

code, pre {
  font-family: "Fira Code", monospace;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}