.base {
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.toggle {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    border: none;
    background-color: var(--secondary-background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    >.top_line,
    >.bottom_line {
        height: 2px;
        width: 12px;
        border-radius: 50px;
        background-color: var(--purple-accent);
    }

    >.middle_line {
        height: 2px;
        width: 19px;
        border-radius: 50px;
        margin: 2.5px 0;
        background-color: var(--purple-accent);
    }
}