$background-color: #FFFDFE;
$primary-text: #544545;
$secondary-text: #282828;

$default-padding: 48px;
$mobile-padding: 48px;

$hover-background: #fdf6fc;
$hover-text: #cd8cab;

$default-grid-columns: 35% 1fr;
$mobile-grid-columns: 45% 1fr;

$hr-color: #c7c6c6;