.base {
    margin-top: 110px;
    margin-bottom: 150px;
}

.tag_list {
    display: flex;
    column-gap: 70px;

    >p {
        display: flex;
        column-gap: 25px;
        align-items: center;
    }
}

.tag_list_item {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.tag_item_circles {
    display: flex;
    column-gap: 4px;

    >svg {
        fill: var(--tertiary-text);
    }
}