.base {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    margin-top: 60px;
    flex-grow: 1;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: end;

    @media (max-width: 768px) {
        z-index: 1;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;

    @media (max-width: 768px) {
        

    }
}

.iphone_img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    @media (max-width: 768px) {
        top: 100px;
    }
}

.textbox {
    margin-bottom: 40px;
}

.textbox p {
    font-size: 18px;
    font-weight: 300;
    line-height: 145%;
    color: var(--secondary-text);

    @media (max-width: 768px) {
        font-size: 17px;
    }
}

.right_profession, .left_profession {
    font-size: 50px;
    color: var(--tertiary-text);
    letter-spacing: 1px;
    z-index: 2;

    @media (max-width: 768px) {
        font-size: 30px;
    }
}


.left_profession {
    @media (max-width: 768px) {
        display: none;
    }
}