.base {
    display: grid;
    grid-template-columns: 1fr 35%;
    column-gap: 150px;
}

.left p {
    color: var(--secondary-text);
    line-height: 145%;
    margin-bottom: 50px;
    font-size: 16px;
}

.card {
    margin-bottom: 50px;

    > .card_title {
        font-size:  16px;
        color: var(--tertiary-text);
        margin-bottom: 15px;
    }

    > .card_items {
        background-color: var(--secondary-background);
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding: 20px;
        border-radius: var(--radius-norm);
        color: var(--secondary-text);
        stroke: var(--secondary-text);

        > a {
            transition: all 0.2s ease;
        }

        > a:hover {
            color: var(--primary-text);
            stroke: var(--primary-text);
        }
    }
}